//SCSS для проекта Store Safari 
//Автор: Павел Захаров
//©2020
@import "nullscss.scss";
@import "fonts.scss";
@import "slider.scss";

* {

    &:before,
    &:after {
        box-sizing: border-box;
    }

    font-family: Mulish;
}

$width:1442px;

body {
    margin: 0;

    a {

        &,
        &:link,
        &:active,
        &:visited,
        &:hover {
            color: #000;
            text-decoration: none;
        }
    }
}

.marginal {
    height: 138px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    //border: red solid 1px;
}

.wrap {
    display: flex;
    flex-direction: row;
    //flex-flow: row;
    flex-wrap: nowrap;
}

.side {
    display: block;
    flex: 1 300px;
    height: 100%;
    //border: red solid 1px;
    box-sizing: border-box;
    min-height: 500px;
    padding: 12px 0 0 0;
    margin: 0 0 0 50px;

    .hbox {
        position: relative;

        h3 {
            border-bottom: rgba(0, 0, 0, 0.5) solid 2px;
            font-family: Mulish;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 18px;
            text-transform: uppercase;
            line-height: 44px;
            position: relative;
        }
    }


}

.main {
    height: 100vh;
    min-height: 600px;
    width: $width;
    margin: auto;
    // padding-top: 70px;


    .header {
        display: flex;
        direction: ltr;
        height: 70px;
        position: fixed;
        top: 0;
        margin: auto;
        width: $width;
        background: #F5F5F5;
        z-index: 1;

        .left-top {

            width: $width/2 - 100px;
            display: inline-flex;
            justify-content: flex-start;


        }

        .right-top {
            width: $width/2 - 100px;
            display: inline-flex;
            justify-content: flex-end;

            .search-box {

                width: 210px;

                input,
                input:active,
                input:focus {
                    width: 175px;
                    border: 0;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
                    font-family: Mulish;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    color: rgba(0, 0, 0, 0.5);
                    line-height: 18px;
                    background: #F5F5F5;
                    outline: none;
                }

                img {
                    position: relative;
                    left: -2px;
                }
            }

            .icons {
                margin: 0 80px 0 0;
                padding: 0;

                display: flex;
                list-style: none;

                li {
                    margin-left: 30px;
                }
            }
        }
    }

    .main-menu {
        margin: auto;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .menu-links {
        display: flex;
        list-style: none;
        justify-content: flex-start;
        margin: 0 0 0 90px;
        padding: 0;

    }

    .menu-link {
        margin-right: 60px;

        a {

            &,
            &:link,
            &:active,
            &:visited {
                text-decoration: none;
                font-family: Mulish;
                font-style: normal;
                font-weight: 800;
                font-size: 14px;
                line-height: 18px;
                color: #000;
                padding: 11px 0;
                letter-spacing: 0.2px;
                position: relative;
                transition: all .3s ease;


            }

            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: -20%;
                width: 0%;
                height: 1px;
                margin-left: 0;
                transition: all .3s ease;

            }

            &:hover {
                //border-bottom: 1px solid #ED165F;
                top: 0px;
                color: #ED165F;

                &:after {
                    background: #ED165F;
                    width: 140%;
                }



            }
        }
    }

    .logo {
        display: flex;
        height: 70px;

        .logo-img {
            margin: auto;
        }

    }

    .text-block {
        & h1 {
            margin: 15px 0;
            font-family: Mulish;
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            //line-height: 40px;
            text-align: center;
            background-color: #fff;
            overflow: hidden;



            &:after {
                content: '';
                display: inline-block;
                vertical-align: middle;
                box-sizing: border-box;
                width: 100%;
                height: 1px;
                background: #000;
                border: solid #FFF;
                border-width: 0 114px;
                margin-right: -100%;
                top: 10px;
            }

            &:before {
                content: '';
                display: inline-block;
                vertical-align: middle;
                box-sizing: border-box;
                width: 100%;
                height: 1px;
                background: #000;
                border: solid #FFF;
                border-width: 0 114px;
                margin-left: -100%;
            }
        }

        & p {
            padding: 0px 172px;
            font-family: Mulish;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 35px;
            text-align: center;
            text-indent: 20px;
        }

        & hr {
            position: relative;
            top: -40px;
            z-index: 0;
        }
    }

    .products {
        display: flex;
        flex-wrap: wrap;
        padding: 33px 0 0 52px;


        .sort-bar {
            width: 100%;
            text-align: right;
            box-sizing: border-box;
            width: 100%;
            height: 45px;
            border-bottom: rgba(0, 0, 0, 0.5) solid 2px;
            display: flex;
            justify-content: flex-end;
            margin: 0 0 30px 0;

            select {
                font-family: Mulish;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 18px;
                align-items: center;
                letter-spacing: 0.2px;
                color: #000000;

                &,
                &:active,
                &:focus {
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    appearance: none;
                    height: 35px;
                    border: #000 solid 1px;
                    outline: none;
                    margin: -10px 79px 12px -2px;
                    align-self: center;
                    width: 195px;
                    padding: 0 0 0 18px;

                    &::before {
                        content: 'Sort By:';
                    }


                    option {
                        font-family: Mulish;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 18px;
                        align-items: center;
                        letter-spacing: 0.2px;
                        color: #000000;

                        &:checked {
                            background-color: #ED165F;
                            color: #fff;
                        }
                    }
                }
            }
        }

        .product-card {
            flex-grow: 1;
            flex-basis: 23%;
            width: 297px;
            display: flex;
            flex-wrap: wrap;
            height: 542px;
            margin-bottom: 98px;
        }

        .product-image {
            flex-grow: 1;
            flex-basis: 100%;




        }


        .product-info {
            top: 11px;
            left: -24px;
            position: relative;
            flex-grow: 1;
            flex-basis: 100%;


        }

        h5 {
            font-family: Mulish;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            text-align: center;
            letter-spacing: 0.2px;
            margin: 0 0 12px 0;

        }

        h6 {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            text-align: center;
            padding: 0 0 0 0;
            margin: 0 0 0 0;
        }
    }

    .pagination-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;



    }

    .footer {
        height: 200px;
        background: #F5F5F5;
        display: flex;
        flex-direction: row;
        flex-flow: nowrap;
        box-sizing: border-box;
        margin-top: 128px;
        width: 100%;

        div {
            height: 100%;
            // border: red solid 1px;
            box-sizing: border-box;
            font-family: Mulish;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            letter-spacing: 0.5px;
            display: flex;
            //flex-basis: 20%;

        }

        .logo {
            display: flex;
            align-content: center;
            justify-content: center;
            width: 230px;
            padding-bottom: 33px;
            padding-right: 27px;

            img {
                width: 79px;
            }
        }

        .navigation {
            display: flex;
            flex-direction: column;
            //flex-flow: column;
            //align-content:center;
            justify-content: center;
            padding-left: 39px;
            padding-bottom: 30px;
            width: 230px;



            a {
                margin: 11px 0 0 0px;

                &:hover {}
            }
        }

        .social-links {

            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 10px;
            padding-bottom: 30px;
            width: 190px;

            a {
                margin: 11px 0 0 0px;

                &:hover {}
            }

            img {
                margin: 0 10px 0 0px;
            }
        }

        .subscribe {
            padding: 50px 0 0 24px;
            display: flex;
            flex-direction: column;

            p {}

            .form-subs {
                margin: 10px 0 0 0;
                display: block;
                height: 35px;
            }

            .input-subs {

                &,
                &:focus,
                &:active {
                    width: 205px;
                    border-radius: 5px 0 0 5px;
                    border: #ED165F solid 1px;
                    outline: none;
                    height: 35px;
                }
            }

            .button-subs {
                width: 55px;
                border-radius: 0 5px 5px 0;
                border: #ED165F solid 1px;
                outline: none;
                background-color: #ED165F;
                height: 39px;
                left: -5px;
                color: #FFF;
                position: relative;
            }
        }

        .contact {
            flex-grow: 1;
            flex-basis: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 0 25px 230px;
            line-height: 20px;
        }
    }

    .pagination {
        display: flex;
        margin-top: 25px;
        justify-content: center;
        width: 100%;
        left: 104px;
        position: relative;

        list-style: none;
        padding: 0;

        li {
            display: flex;
            position: relative;


            a,
            a:link,
            a:active,
            a:visited {
                color: #000;
                margin: 0 67px 0 0;
                font-family: Mulish;
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 14px;
                text-align: center;
                letter-spacing: 0.2px;
                text-decoration: none;
                display: block;



                &:after {
                    content: "";
                    position: absolute;
                    left: -33px;
                    top: 31px;
                    width: 0px;
                    height: 3px;
                    margin-left: 0;
                    transition: all .3s ease;

                    background: #ED165F;

                }

                &:hover {

                    top: 0px;
                    color: #ED165F;

                    &:after {
                        background: #ED165F;
                        width: 75px;
                    }
                }
            }
        }
    }

    .up {
        display: flex;
        width: 61px;
        height: 50px;
        border: #000 solid 1px;
        border-radius: 5px;
        align-content: center;
        justify-content: center;
        float: left;
        position: relative;
        top: 8px;
        left: -53px;


        a {
            display: flex;
            align-self: center;
        }
    }

    .cat3 {
        width: calc(100% - 300px);

        .up {
            top: -3px;
        }

        .pagination {
            left: -87px;
            margin-top: 14px;


        }
    }

    .cat-h1 {
        font-family: Mulish;
        font-style: normal;
        font-weight: 800;
        font-size: 30px;
        line-height: 18px;
        text-transform: uppercase;
        letter-spacing: 3px;
        padding: 0 0 0 51px;
        color: #000000;
    }

    .category-list {
        list-style: none;
        padding: 6px 0 0 1px;
        margin: 0 0 45px 0;
        line-height: 34px;

        a {

            &,
            &:link,
            &:visited,
            &:active {
                list-style: none;
                font-family: Mulish;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 18px;
                color: #686868;
                text-decoration: none;
                position: relative;
            }

            &:after {
                content: "";
                position: absolute;
                left: -5px;
                bottom: -5px;
                width: 0;
                height: 1px;
                margin-left: 0;
                background: #FFF;
                transition: all .3s ease;
            }

            &:active,
            &:hover {
                color: #ED165F;

                &:after {
                    background: #ED165F;
                    width: calc(100% + 10px);
                }


            }



        }
    }

    .category-size {
        width: 300px;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-flow: row;
        flex-wrap: wrap;
        margin: 0 0 36px 0;
        padding: 10px 0 0 0;
        box-sizing: border-box;

        li {

            display: flex;

            justify-content: center;
            align-content: center;
            box-sizing: border-box;

            font-family: Mulish;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;


            margin: 0 15px 16px 0;

            a {
                box-sizing: border-box;
                min-width: 55px;
                display: flex;
                height: 100%;
                width: 100%;
                justify-content: center;
                align-content: center;
                border: rgba(0, 0, 0, .5) solid 1px;
                color: #000000;
                border-radius: 2px;
                padding: 8px 0px 5px 0px;
                line-height: 17px;
                transition: all .3s ease;


                &:hover {
                    color: #fff;
                    background: #ED165F;
                    border: #ED165F solid 1px;
                }

            }

        }
    }

    .category-color {
        width: 300px;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-flow: row;
        flex-wrap: wrap;
        margin: 0 0 36px 0;
        padding: 10px 0 0 0;
        box-sizing: border-box;

        li {
            width: 100px;
            display: flex;
            text-transform: capitalize;
            justify-content: flex-start;

            box-sizing: border-box;
            font-family: Mulish;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            vertical-align: middle;

            margin: 0 0px 16px 0;

            a {
                span {
                    margin: auto;
                }

                box-sizing: border-box;
                width: 100px;
                overflow: hidden;
                display: flex;
                //height: 100%;
                //width: 100%;
                // justify-content: center;
                align-content: center;

                //border: rgba(0, 0, 0, .5) solid 1px;
                color: #000000;
                border-radius: 2px;
                padding: auto;
                //line-height: 17px;
                transition: all .3s ease;


                &:hover {
                    color: #ED165F;
                    //background: #ED165F;
                    //border: #ED165F solid 1px;
                }

                .c-box {
                    display: flex;
                    border-radius: 2px;
                    width: 32px;
                    height: 32px;
                    margin: 0 8px 0 0;
                }

            }

        }
    }

}

.clear-div {
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #C4C4C4;
    position: absolute;
    left: 250px;
    bottom: 16px;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;

    &:after {
        content: '';
    }

}

.form-price {
    width: 300px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    vertical-align: middle;
    input:focus{outline: none}

    input[type="text"] {
        width: 61px;
        height: 27px;
        box-sizing: border-box;
        margin: 0 6px 0 6px;

    }

    input[type=button] {
        box-sizing: border-box;
        display: block;
        width: 67px;
        height: 27px;
        background: #ED165F;
        color: white;
        border: none;
        border-radius: 2px;
        outline: none;
        font-family: Mulish;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;
        margin:0 0 0 0;


    }

}
